@import 'icons';

.navBar {
  min-height: 10%;
  display: flex;
  margin-bottom: 20px;
  padding-top: 0%;
}

body {
  background: white;
  font-family: Noto Sans, Helvetica, sans-serif;
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 10px 0 10px 0;
  min-width: 100vw;
  color: black;
}

.links {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  .link {
    padding: 0.5rem 2rem;
    font: 1em sans-serif;
    font-weight: bold;
    margin: 1rem;
    text-decoration: none;
    background-position: 1rem;
    min-width: 100%;
    color: black;
    text-align: start;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  .links {
    min-width: 100%;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;

    .link:link,
    .link:visited {
      margin: unset;
    }
    .link:active {
      background-color: whitesmoke;
      color: skyblue;
    }
  }

  .main-form {
    width: 100%;
  }
}

h1 {
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
    -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
    0 -80px 70px #973716, 10px -90px 80px #451b0e;
  display: inline-block;
}

.main-content {
  width: 100%;
}

.main {
  margin-left: 10px;
}

.form {
  width: 50%;
  float: left;
  margin-bottom: 50px;
}

.order-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.order {
  min-width: 20rem;
  max-width: fit-content;
  min-height: fit-content;
  max-height: fit-content;
  overflow: hidden;
  max-height: fit-content;
  color: grey;

  .order-title {
    font-weight: bold;
  }

  .order-details {
    color: grey;
    margin-top: 0;

    & > div {
      margin-bottom: 0.5rem;
    }
  }
}

.main-form {
  color: #222222;
  font-size: 18px;
  margin: auto;
}

.input-control {
  border: none;
  border-bottom: 3px solid #ccc;
  color: #555555;
  height: 46px;
  font-size: 18px;
  line-height: 1.3333333;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(23, 24, 24, 0.6);
    border: 1px solid #cecece;
  }
}

.submit-btn {
  margin-top: 1rem;
  background-color: white;
  color: rgb(0, 229, 255);
}

.login {
  text-align: center;
  padding: 10px;
  height: 200px;
  line-height: 200px;

  button {
    font-size: 20px;
  }
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 10px;
}

.successMsg {
  color: #00ff00;
  background: #077707;
  padding: 10px;
}

.centered-message {
  width: 500px;
  margin: auto;
}

.message {
  color: #0e1b1e;
  font-size: 25px;
  margin-left: 10px;
}

.submit-btn {
  @extend .input-control;
  border: 2px;
  background-color: whitesmoke;
}

#side-bar {
  max-width: max-content;
}

.dropdown-toggle::after {
  display: none;
}

// Does not create the dropdown
*,
:before,
:after {
  transform: none !important;
}
